
.playerGuessesContainer,
.hintsContainer
 {
    display: flex;
    flex-direction: column;
} 
.hintsContainer {
    align-items: center;
    justify-content: flex-start;
    background-color: green;
}